:root {
  --md-sys-color-primary: rgb(255 249 249);
  --md-sys-color-surface-tint: rgb(247 178 223);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(251 182 227);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 249 249);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(225 194 212);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 249 248);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(249 189 165);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(24 18 21);
  --md-sys-color-on-background: rgb(237 223 228);
  --md-sys-color-surface: rgb(24 18 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(79 68 74);
  --md-sys-color-on-surface-variant: rgb(255 249 249);
  --md-sys-color-outline: rgb(215 198 206);
  --md-sys-color-outline-variant: rgb(215 198 206);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(237 223 228);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(71 23 60);
  --md-sys-color-primary-fixed: rgb(255 222 240);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(251 182 227);
  --md-sys-color-on-primary-fixed-variant: rgb(47 3 39);
  --md-sys-color-secondary-fixed: rgb(254 222 240);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(225 194 212);
  --md-sys-color-on-secondary-fixed-variant: rgb(34 16 29);
  --md-sys-color-tertiary-fixed: rgb(255 225 213);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(249 189 165);
  --md-sys-color-on-tertiary-fixed-variant: rgb(43 13 2);
  --md-sys-color-surface-dim: rgb(24 18 21);
  --md-sys-color-surface-bright: rgb(63 55 59);
  --md-sys-color-surface-container-lowest: rgb(18 12 16);
  --md-sys-color-surface-container-low: rgb(32 26 30);
  --md-sys-color-surface-container: rgb(37 30 34);
  --md-sys-color-surface-container-high: rgb(47 40 44);
  --md-sys-color-surface-container-highest: rgb(58 51 55);
}
